#grid{
  display: grid;
  grid-template-columns: 500px 400px;
}
#checkin{
  width: 400px;
}
#checkout{
  width: 400px;
}
.containers {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 99;
    height: 600px;
    position: relative;
  }

  h1 {
    text-align: center;
    color: #333333;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
  }

  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  #butclose{
    float: right;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  #butclose:hover{
    background-color: aqua;
  }
  .success-msg {
    color: #270;
    background-color: #DFF2BF;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: 30%;
    z-index: 99;
  }
  
  #layout{
    width: 100%;
    height:100%;
    background-color: #725b5b63;
    z-index: 999;
    position: absolute;
    left: -1px;
    top: -1px;
  }
  #formlogin{
    width:400px;
    height: 300px;
    background-color:#ffff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 99;
    border-radius: 5px;
    /* background-image: url("/assets/homestay/imghomestay/Nui.jpg"); */
    background-size: contain;
  }
  #formlogin h3{
    margin-top: 5px;
    position: relative;
  }
  #close{
    position: absolute;
    top: 5px;
    right: 0px;
  }
  #formsm{
    width: 100%;
    height:200px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  #formsm input{
    width: 200px;
    line-height: 60px;
  }
  .info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  width: 400px;
  position: absolute;
  right: 10%;
  z-index: 999;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

